node_modules
**/*.js
**/*.d.ts
!packages/cordova-builders/**/schema.d.ts
!packages/cordova-builders/assets/*
!packages/schematics/**/schema.d.ts
!packages/schematics/*/files/**/*
!packages/**/lint-staged.config.js
.vscode
