name: CD

on:
  push:
    branches:
      - stable

jobs:
  build:
    name: Build, Test, and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Configure Identity
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Prepare NPM Token
        run: echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} > .npmrc
        shell: bash
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Install Dependencies
        run: npm ci --no-package-lock && lerna bootstrap --ignore-scripts
        shell: bash
      - name: Release
        run: npm run publish:ci
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
